.admin-partners-deleted-row.admin-partners-deleted-row {
  cursor: default;
}

.admin-partners-deleted-row.admin-partners-deleted-row > td {
  background-color: var(--color-bg-subtle);
}

.admin-partners-deleted-row.admin-partners-deleted-row > td:first-child {
  box-shadow: inset 3px 0 0 var(--color-border-strong);
}
